<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex class="img-container">
    <img src="../../../../assets/1.png">
    <div class="text-title">
      Kocimiętka jest EKO!
    </div>
    <div class="text">
      Z myślą o środowisko pakujemy, wasze produkty w biodegradowalne materiały, które, można rozpuścić je w wodzie.
    </div>
  </mat-card>
  <mat-card fxFlex class="img-container">
    <img src="../../../../assets/img/melons.png">
    <div class="text-title">
      Naturalne produkty w 100%
    </div>
    <div class="text">
      Odpowiedni dobór produktów, w znaczący sposób wpływają na funkcjonowanie całego organizmu i poszczególnych
      narządów.
    </div>
  </mat-card>
</div>

<!--    <ng-image-slider fxFlex-->
<!--                     [images]="imageObject"-->
<!--                     [slideImage]="1"-->
<!--                     [infinite]="true"-->
<!--                     [autoSlide]="{interval: 5, stopOnHover: true}"-->
<!--                     [imagePopup]="false"-->
<!--                     [showArrow]="false"-->
<!--                     [imageSize]="{width: '345px', height: '345px'}">-->
<!--    </ng-image-slider>-->
