<div fxLayout="column" fxLayoutAlign="center">
  <app-menu></app-menu>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
  <app-newsletter></app-newsletter>
<!--  <app-informations></app-informations>-->
<!--  <app-footer></app-footer>-->

</div>

<div [@shopping-cart-animation]="showShoppingCart ? 'open' : 'close'" class="shop-cart-container">
  <button [disabled]="!showShoppingCart" mat-fab color="primary">
    <mat-icon matBadge="15" matBadgeColor="warn">shopping_basket</mat-icon>
  </button>
</div>
