//router-outlet-container {
//  height: calc(100vh - 64px);
//  display: flex;
//}

.shop-cart-container {
  position: fixed;
  z-index: 1;
  bottom: 8px;
  right: 8px;
}

.shop-cart-container button {
  width: 60px;
  height: 60px;
  background-color: #1D85CA;
}

.mat-fab::ng-deep .mat-button-wrapper::ng-deep {
  padding: 0;
}

.shop-cart-container mat-icon {
  transform: scale(1.3);
}

.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-accent.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-primary.mat-button-disabled,
.mat-raised-button.mat-accent.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-primary.mat-button-disabled,
.mat-fab.mat-accent.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-accent.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background-color: #1D85CA;
  color: #fff;
  width: 60px;
  height: 60px;
}
