<div class="content">
  <h1>Czym się zajmujemy?</h1>
  <p>
    Studenci, freelancerzy, osoby, które nie mogą się skupić na pracy w domu byłyby mile widziane w naszej przestrzeni
    coworkingowej. Wytyczone zostaną trzy przestrzenie kolejno: kawiarnia z miejscem na spożywanie posiłków, wyposażona
    w stoły i kanapy, gdzie można także pracować (mieszczą się tam także toalety, strefa ciszy (gdzie można wnieść
    jedynie napoje), dzieląca się na strefę otwartą (długie stoły i indywidualne biurka- na każdym stole znajduje się
    lampka, gniazdka elektryczne, kosze co kilkanaście metrów) i strefę zamkniętą (podzielona na małe, indywidualne
    „pokoje ciszy”). Klient rezerwuje miejsce na stronie internetowej, gdzie po podaniu danych i opłaceniu danego
    miejsca, otrzymuje indywidualny kod.
  </p>
  <div class="workspace-image">
    <img src="/assets/images/workspace.jpg" alt="image" width="938" height="520">
  </div>
</div>

