<mat-toolbar fxFlex="row" fxLayoutAlign="center start">
  <div fxFlex="25%" fxLayoutAlign="center">
    <div fxFlex="column" class="info-container info-container-center">
      <div style="display: inline-block; margin-right: 4px; margin-bottom: -7px" class="title">KocimietkaHash</div>
      <span>©</span>
      <div class="title">i Twoje zioła pod ręką.</div>
      <div class="info-content">
        Własny dowóz towarów na terenie Kalisza. Darmowa przesyłka od 299zł.
        Płatnośc online. Sklep 24/7 przez 365 dni w roku!
      </div>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center">
    <div fxFlex="column" class="info-container info-container-left">
      <div class="title">Strony informacyjne</div>
      <div class="info-content">
        <div>Reklamacje, zwroty, odstępienie od umowy</div>
        <div>Metody wysyłki i sposoby płatności</div>
        <div>Polityka prywatności</div>
        <div>Regulamin sklepu</div>
        <div>O nas</div>
      </div>
      <div class="title">Obsługowane płatności</div>
      <div class="info-content">
        <i class="fa-brands fa-cc-visa"></i>
      </div>
    </div>
  </div>
  <div fxFlex="25%" fxLayoutAlign="center">
    <div fxFlex="column" class="info-container info-container-left">
      <div class="title">Kontakt</div>
      <div class="info-content">
        <div></div>
        <div>KocimiętkaHASZ.pl</div>
        <div>Górnośląska 61</div>
        <div>62-800 Kalisz</div>
        <div>Polska</div>
        <div></div>
        <div>533334124</div>
        <div></div>
        <div>biuro@kocimietkahasz.pl</div>
      </div>
    </div>
  </div>
</mat-toolbar>
