mat-toolbar {
  white-space: normal;
  height: fit-content;
  padding: 20px;
}

.title {
  font-family: Pacifico, cursive;
  font-weight: 600;
  margin-bottom: 7px;
}

.info-container {
  padding: 20px;
  text-align: center;
}

.info-content {
  font-size: 14px;
  line-height: 22px;
}
