mat-toolbar {
  white-space: normal;
  height: fit-content;
  padding: 20px;
  //text-align: center;
}

.info-container {
  //text-align: left;
  padding: 20px;
}

.info-container-center {
  text-align: center;
}

.info-container-left {
  text-align: left;
}
