mat-toolbar {
  white-space: normal;
  height: fit-content;
}

.shop-title {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 0 !important;
}

.title {
  font-family: Pacifico, cursive;
  font-weight: 600;
  margin-bottom: 7px;
}

.info-container {
  padding: 20px;
  text-align: center;
}

.info-content {
  font-size: 14px;
  line-height: 22px;
  font-family: Arial sans-serif;
}

.info-content i {
  font-size: 20px;
  color: #676767;
  margin: 0 5px 0 5px;
}

.info-content-icons {
  display: inline-flex;
  vertical-align: middle;
}

.info-content-and-icons-container {
  height: fit-content;
}

.box {
  flex-direction: row;
}

@media (max-width: 400px) {
  .box {
    flex-direction: column;
  }
}
