<mat-toolbar>
  <div fxFlex="100%" class="box">
    <div style="margin: auto" fxFlex="300px" fxLayoutAlign="space-between center">
      <div class="info-container">
        <div class="title shop-title">KocimietkaHash</div>
        <span>©</span>
        <div class="title">i Twoje zioła pod ręką.</div>
        <div class="info-content">
          Własny dowóz towarów na terenie Kalisza. Darmowa przesyłka od 299zł.
          Płatnośc online. Sklep 24/7 przez 365 dni w roku!
        </div>
      </div>
    </div>
    <div style="margin: auto" fxFlex="300px" fxLayoutAlign="center">
      <div class="info-container">
        <div class="title">Strony informacyjne</div>
        <div class="info-content">
          <div>Reklamacje, zwroty, odstępienie od umowy</div>
          <div>Metody wysyłki i sposoby płatności</div>
          <div>Polityka prywatności</div>
          <div>Regulamin sklepu</div>
          <div>O nas</div>
        </div>
        <div class="title">Obsługowane płatności</div>
        <div class="info-content">
          <i class="fa fa-cc-mastercard"> </i>
          <i class="fa fa-cc-visa"></i>
          <i class="fa fa-credit-card"></i>
        </div>
      </div>
    </div>
    <div style="margin: auto" fxFlex="300px" fxLayoutAlign="center">
      <div class="info-container">
        <div class="title">Kontakt</div>
        <div class="info-content">
          <div>KocimiętkaHASZ.pl</div>
          <div class="info-content-and-icons-container">
            <i class="material-icons info-content-icons"></i>
            <span>Górnośląska 61</span>
          </div>
          <div>62-800 Kalisz</div>
          <div>Polska</div>
          <div class="info-content-and-icons-container">
            <i class="material-icons info-content-icons"></i>
            <span>533334124</span>
          </div>
          <div class="info-content-and-icons-container">
            <i class="material-icons info-content-icons"></i>
            <span>biuro@kocimietkahasz.pl</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
