<div fxLayout="row wrap" fxLayoutAlign="center" class="background">
  <div class="newsletter-text-container">
    <div class="newsletter-title">Zapisz się do naszego newslettera</div>
    <div class="newsletter-content">będziesz otrzymywać informacje o promocjach i kuponach na bieżąco!</div>
  </div>

  <form class="newsletter-email-container">
    <mat-form-field class="newsletter-email" appearance="fill">
      <mat-label>Wprowadź swój email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl">
    </mat-form-field>
    <button mat-raised-button color="primary" class="subscribe-button" type="button" (click)="test()">Subskrybuj</button>
  </form>
</div>
