<div fxLayout="row" fxLayoutAlign="space-around end">
  <div class="category-container">
    <div class="category-title">Konopny<br/>świat</div>
    <img src="assets/img/category/cannabis.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Piękność i<br/>uroda</div>
    <img src="assets/img/category/soap.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Suplementy<br/>diety</div>
    <img src="assets/img/category/vitamin.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Usługi<br/>artystyczne</div>
    <img src="assets/img/category/picture.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Pakiety i<br/>rabaty</div>
    <img src="assets/img/category/piggy-bank.png"/>
  </div>
</div>
