<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="category-container">
    <div class="category-title">Konopny świat</div>
    <img src="assets/cannabis.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Piękność i uroda</div>
    <img src="assets/soap.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Suplementy diety</div>
    <img src="assets/vitamin.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Usługi artystyczne</div>
    <img src="assets/picture.png"/>
  </div>
  <div class="category-container">
    <div class="category-title">Pakiety i rabaty</div>
    <img src="assets/piggy-bank.png"/>
  </div>
</div>
