<div fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
    <div class="product">
      <mat-card>
        <span style="width: 50vw;">
          Nowy
        </span>
        <span style="text-align: right; width: 50%;">
          79.99
        </span>
        <img mat-card-image src="assets/product.jpg">
        <mat-card-header>PRODUCTPRODUCTPRODUCTPRODUCTPRODUCT</mat-card-header>
        <div class="star-rating">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
          <mat-icon>star_border</mat-icon>
        </div>
        <mat-card-actions>
          <button mat-button>Dodaj do koszyka</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
