mat-card {
  width: 260px;
  height: 305px;
}

mat-card mat-card-header {
  font-size: 14px;
  text-align: center;
  display: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card img {
  margin: auto;
  padding-bottom: 18px;
  width: 75%;
  height: calc(75% - 45px);
}

.product {
  margin: 2vh;
  transition: transform .2s;
}

.product:hover {
  transform: scale(1.05);
  cursor: pointer;
}

//.product:hover > mat-card mat-card-header {
//  color: green;
//}

.star-rating {
  text-align: center;
  color: gold;
  transform: scale(0.65);
}

.star-rating-number {
  position: fixed;
  text-align: left;
  margin-left: 2px;
  width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

mat-card-actions .mat-button {
  background: #63BB6A;
  color: white;
  width: 100%;
}

.price {
  text-align: right;
  font-weight: 500;
}

.price-whole,
{
  font-size: 19px;
  position: relative;
  right: -3px;
}

.price-symbol,
.price-fraction {
  font-size: 10px;
  position: relative;
  top: -6px;
}

//1D85CAFF
