.dashboard-img-container-style {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
}

.dashboard-img-container {
  display: inline-flex;
  margin: auto;
  max-width: 1489px;
}

.dashboard-img-container img {
  height: auto;
  object-fit: contain;
}

app-products {
  margin: 5vh 2vw 5vh 2vw;
  background-color: white;
}

app-categories {
  margin: 2vh 7vw 2vh 7vw;
  background-color: white;
}

@media (max-width: 555px) {
  .dashboard-img-container {
    flex-direction: column;
    max-height: 934px;
  }
  .dashboard-img-container img {
    width: 100%;
  }
}

@media (min-width: 555px) {
  .dashboard-img-container {
    flex-direction: row;
    max-height: 467px;
  }
  .dashboard-img-container img {
    width: 50%;
  }
}
